.search-results-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	justify-content: space-around;
	align-items: center;
	gap: 1rem;
	width: 100%;
	max-width: 100%;
	height: 100%;
	padding: 1rem 5rem 0 2rem;
}
