.search-form {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 0 0.5rem;
}

.search-input {
	width: 100%;
	height: 100%;
	padding: 0.5rem 1.75rem;
}

.search-icon {
	position: absolute;
	display: inline-block;
	top: 4%;
	height: 100%;
	padding: 0.5rem;
	margin: auto 0;
	font-size: 1rem;
	text-align: center;
}
